.stats {
    background-color: #DDD;
    padding: 10px;
    flex-grow: 1;
}

.equipment {
    background-color: #DDD;
}

.level {
    color: #AAA;
}

.ingredients {
    padding: 10px;
}

.prix {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.right {
    text-align: right;
}

.picture {
    padding: 10px;
    background-color: #CCC;
}

li {
    list-style-type: none;
}

.display {
    display: flex;
    flex-direction: row;
}