.m-container {
    margin-bottom: 20px;
    font-size: 16px;
}

.equipments-container {
    padding: 10px;
    background-color: #DDD;
}

.equipments {
    display: flex;
    justify-content: space-between;
}